section {}

#base-content {
	min-height: 100px;
	margin:5px;
	background: transparent;
}
.portrait section {
	background: transparent;
	background: url('images/OMobile.png');
}
.landscape section {
	background: #9efaa2;
	background-image: -moz-linear-gradient(top, #fff, #9efaa2);
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #fff), 
										color-stop(1, #9efaa2)); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#9efaa2')";
}
.tweet-text {
	
}
.tweet-text a {
	font-size: 0.9em;
	text-decoration: none;
}